<% @announcements.each do |announcement| %>
<ul>
    <li>
        <%= link_to announcement.title, announcement_path(announcement) %>
        <p>投稿日<%= announcement.post.strftime("%Y-%m-%d %H:%M") %></p>
    </li>
</ul>
<% end %>