<div>
    <%= form_with(model: @reply, local: true) do |f| %>
    <div>
        <%= f.label :content, "回答" %><br>
        <%= f.text_area :content %>
    </div>
    <%= f.submit %>
    <% end %>
</div>